body {
  background-color: #6a737d;
  margin: 0 auto;
  padding: 4em 1em 2em 1em;
}

h1 {
  color: #f6f8fa;
}

#tweet-quote {
  float: left;
}

#new-quote {
  float: right;
}

#author {
  font-size: 1.2em;
  font-weight: 600;
}

.card-header {
  text-transform: capitalize;
  font-size: 1.1em;
}

#text {
  font-size: 1.5em;
}

.card-header {
  font-weight: bold;
}
